.container{
    background-color: #13171f;
}
.product-container{
    background-color: #13171f;
}
.product-title{
    color: #fbaf19;
    text-align:center;
}
.info-text{
    color: white;
    text-align:center;
}