.orange-text {
  color: #fbaf19;
}
.why {
  background-color: #1d232f;
  height: fit-content;
  /* margin-top: -20%; */
  padding-top: 5%;
  padding-bottom: 5%;
}
.span-design {
  color: #fbaf19;
  padding: 25%;
  padding-top: 40%;
  font-weight: 900;
}
.Fast .Easy .Practical{
    padding-bottom: 120px;
    padding-top: 40%;
    color: #fbaf19;
}
.why-logo-image{
    left:20%;
}
